
.product__item{
    cursor: pointer;
}


.product__info h3{
    font-size: 1.2rem;
    color: var(--primary-color);
    font-weight: 600;
    margin-top:15px ;

}
.product__info a:hover{
    color:inherit ;
}

.product__info span {
    font-size: 0.9rem;
}

.product__card-bottom .price{
    color: var(--primary-color);
    font-size: 1.3rem;
    font-weight: 500;

}
.product__card-bottom span i {
    font-size: 1.2rem;
    padding: 5px;
    background: var(--primary-color);
    color: white;
    border-radius: 50px;
}
.product__details{margin-top: 90px;}
.product__rating span i{
    color: coral;
}
.product__rating p span{
    color: coral;
    font-weight: 500;
}
.price{
font-weight: 500;
}

.tab__wrapper{
    color: var(--primary-color);
    font-weight: 500;
    font-size: 1rem;
}
.active__tab{
    font-weight: 600;
}
.tab__content p {
    width: 600px;
}
.related__title{
    font-size: 1.2rem;
    font-weight:600;
}